<h1 class="mb-4">My Learning Paths</h1>

<% current_user.learning_paths.each do |lp| %>
  <div class="card learning-path-card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <%= link_to lp.skill.name, learning_path_path(lp) %> (
        <%= lp.milestones.where(completed: true).count %>/
        <%= lp.milestones.count %>
      )
    </div>
    <div class="card-body">
      <p><%= lp.skill.description %></p>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <%= button_to learning_path_path(lp), method: :delete,
                    data: {
                      turbo_method: :delete,
                      confirm: "Are you sure you want to delete this learning path?"
                    },
                    class: "btn btn-danger btn-sm" do %>
        <i class="bi bi-trash me-1"></i>Delete
      <% end %>
    </div>
  </div>
<% end %>
