<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for(:title) || "SkillFundr – Crowdfund Your Learning Journey" %></title>
        <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'SkillFundr - Crowdfund Your Learning Journey' %>" />
    <meta property="og:description" content="SkillFundr helps users fund their education and upskill through community support." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url('SkillFundr Logo Design.png') %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head if content_for?(:head) %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div class="layout-wrapper">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>


  </body>
</html>
